<table class="table table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Nome do Produto</th>
      <th>Valor da Venda</th>
      <th>Imagem</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of service.list">
      <td (click)="populateForm(prod)">{{prod.Nome}}</td>
      <td (click)="populateForm(prod)">{{prod.ValorVenda}}</td>
      <td (click)="populateForm(prod)"><img src="{{prod.Imagem}}" style="width: 200px" /></td>
      <td>
        <button class="btn btn-sm btn-danger" (click)="onDelete(prod.Id)">Excluir</button>
      </td>
    </tr>
  </tbody>

</table>
